@import "../../styles/variables";
@import "../../styles/mixins";

.game {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.titleClass {
    margin: 1.5rem 0;
    font-size: 3rem;
    color: $color-primary-dark;
    font-family: $font-family-secondary;
    font-weight: 100;
    background: rgba($color-primary, 0.2);

    span {
        font-size: 4rem;
    }
}

.finished {
    @include positionViewCenter;
}
