@import "../../styles/variables";
@import "../../styles/mixins";

.menu {
    width: 40%;
    list-style: none;
    padding: 5rem;
    background-color: rgba($color-primary-light, 0.5);
    border-radius: 5px;
    margin-top: 3rem;
    li:not(:last-child) {
        margin-bottom: 2rem;
    }

    @include respond(tablet) {
        width: 70%;
    }

    @include respond(phone) {
        margin-top: 1rem;
        width: 100%;
    }
}
