@import "../../styles/variables";
@import "../../styles/mixins";

.card {
    display: flex;
    flex-direction: column;
    background: rgba($color-secondary-light, 0.8);
    padding: 1rem;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.title {
    font-family: $font-family-primary;
    font-size: 4rem;
    color: $color-primary;

    @include respond(tablet) {
        font-size: 3.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }
}

.statisticContainer {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
        flex-direction: column;
    }
}

.statisticSection {
    flex: 50%;
}

.statistic {
    font-weight: bold;
    font-size: 1.6rem;

    @include respond(tablet) {
        font-size: 1.5rem;
    }

    @include respond(phone) {
        font-size: 1.4rem;
    }

    span {
        font-size: 2rem;
        font-weight: normal;

        @include respond(tablet) {
            font-size: 1.6rem;
        }

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
}

.success {
    color: rgb(43, 168, 74);
}

.failure {
    color: orangered;
}
