@import "../../styles/variables";
@import "../../styles/mixins";

.board {
    display: grid;
    flex-wrap: wrap;

    grid-template-rows: repeat(11, 7rem);
    grid-template-columns: repeat(11, 7rem);

    justify-content: center;

    @include respond(tablet) {
        grid-template-rows: repeat(11, 5rem);
        grid-template-columns: repeat(11, 5rem);
    }

    @include respond(phone) {
        grid-template-rows: repeat(11, 3.5rem);
        grid-template-columns: repeat(11, 3.5rem);
    }
}

.coord {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: rgba($color-primary, 0.3);
    color: $color-primary-dark;
    font-weight: bold;
}
