$font-family-primary: "Texturina", serif;
$font-family-secondary: "Cinzel";

$color-primary: #80a4ed;
$color-primary-light: #bcd3f2;
$color-primary-dark: #395c6b;
$color-secondary: #e3a560;
$color-secondary-light: #e6e1c5;
