@import "../../styles/variables.scss";

.back,
.back:visited,
.back:link {
    text-decoration: none;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    font-size: 4rem;
    color: $color-primary-dark;
    transition: all 0.2s;
    span {
        display: inline-block;
    }

    &:hover {
        transform: scale(1.2);
    }
}
