@import "../../styles/mixins";

.history {
    @include positionViewCenterTop;
}

.games {
    height: 100%;
    width: 60%;
    overflow: auto;

    @include respond(tablet) {
        width: 80%;
    }
}
